@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    animation: softload 1s;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

@keyframes softload{
	from{

		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.preloader{
	background-color: #000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
}

.preloader img{
	width: 100px;
}
a, a:hover{
	color: rgb(100,0,20);
	text-decoration: none;
}

header{
	background: linear-gradient(rgba(100,0,20,.9),rgba(100,0,20,.9)),
	url('img/header.jpg') center no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: absolute;
	width: 100%;
}

@font-face{
	font-family: Santeria;
	src: url('txt/Santeria.ttf');

}
.navbar-brand{
	font-size: 2rem;
	font-family: Santeria;
}
.nav-link{
	text-transform: uppercase;
	color: #fff !important;
	letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.intro{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}

.intro h3{
	text-transform: uppercase;
}

section{
	padding: 2rem 0;
	border-bottom: 1px solid rgb(100,0,20);
}

.title{
	color: rgb(100,0,20);
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	letter-spacing: 2px;
}
.skill{
	align-items: center;
	
}
.skill-icon{
	font-size: 40px;
	color: rgb(100,0,20);

}

#contact{
	text-align: center;
}

/*Portfolio*/
.card{
	border: none;
}

.card img {
    width: 100%;
    box-shadow: 5px 5px 5px #888888;
    transition: .2s ease-in-out;
}

.card img:hover {
    box-shadow: 10px 10px 5px #888888;

}

    .card h5 {
        color: rgb(100,0,20);
    }

#contact{
	transition: .4s linear;
}
footer{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
	background: rgb(100,0,20);
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-size: .7rem;
}


/*MEDIA QUERIES*/

@media(min-width: 992px){
	.navbar{
		padding: 8px 40px;
	}

	.nav-link{
		margin-left: 30px;
	}
}

@media(max-width: 576px){
	.nav-link{
		font-size: .8rem;
	}
}
