@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@200&display=swap');
html{
<<<<<<< HEAD
	scroll-behavior: smooth;
=======
        scroll-behaviour: smooth;
>>>>>>> 665eef793e80c9d29ee155ec5609d4f0d7af1feb
}
body{
	animation: softload 1s;
	text-decoration: none;
	font-family: 'Lora', serif;
}

@keyframes softload{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

a, a:hover{
	color: rgb(100,0,20);
	text-decoration: none;
}

header{
	background: linear-gradient(rgba(100,0,20,.9),rgba(100,0,20,.9)),
	url('img/header.jpg') center no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: absolute;
	width: 100%;
}

@font-face{
	font-family: Santeria;
	src: url('txt/Santeria.ttf');

}
.navbar-brand{
	font-size: 2rem;
	font-family: Santeria;
}
.nav-link{
	text-transform: uppercase;
	color: #fff !important;
	letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6, .nav-link{
	font-family: 'Montserrat', sans-serif;
}

.intro{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}

.intro h3{
	font-weight: bold;
	text-transform: uppercase;
}

.intro p{
	font-size: .8rem;
}
section{
	padding: 2rem 0;
	border-bottom: 1px solid rgb(100,0,20);
}

.title{
	font-weight: bold;
	color: rgb(100,0,20);
	text-transform: uppercase;
	text-align: center;
	font-weight: 400;
	letter-spacing: 2px;
}
.skill{
	align-items: center;
	margin: 15px 0;
}
.skill-icon{
	font-size: 50px;
	color: rgba(100,0,20,.7);
	margin-right: 20px;
}

#contact{
	text-align: center;
}

/*Portfolio*/
.card{
	border: none;
}

.card img{
	width: 100%;
}

.card-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(100,0,20,.9);
	padding: 1rem 1rem;
	color: #fff;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: .3s linear;
}

.card-overlay:hover{
	opacity: 1;
}

.card-overlay h6{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#contact{
	transition: .4s linear;
}
footer{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	color: #fff;
	background: rgba(100,0,20);
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	font-size: .7rem;
}


/*MEDIA QUERIES*/

@media(min-width: 992px){
	.navbar{
		padding: 8px 40px;
	}

	.nav-link{
		margin-left: 30px;
	}
}

@media(max-width: 576px){
	.nav-link{
		font-size: .8rem;
	}
}
